
body{
    margin: 0; 
    margin-top: 50px;
}
.container{
    text-align:center;
}
.container-inner{
    display: inline-block;
    position: relative;
    height: 350px;
    padding: 5px;
}
.container-inner p{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    font-size: 24px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    height: 40px;
    line-height: 40px;
    transform: translateY(-50%);
    transition: all 0.8s;
    opacity: 0;
}
.container-inner:hover p{
    opacity: 1;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
}
.container-inner::after{
    content: "";
    position: absolute;
    border: 2px solid transparent;
    transform: scaleX(0);  
  transition: transform 400ms linear , height 0.4s linear 0.4s;
    left: -2px;
    bottom: -2px;
    height: 0;
    width: 0;
}
.container-inner:hover::after{
    transform: scaleX(1);
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    height: 50%;
    width: 100%;
}
.container-inner::before{
    content: "";
    position: absolute;
    border: 2px solid transparent;
    transform: scaleX(0);  
  transition: transform 400ms linear , height 0.4s linear 0.4s;
    left: -2px;
    top: -2px;
    height: 0;
    width: 0;
}
.container-inner:hover::before{
    transform: scaleX(1);
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    height: 50%;
    width: 100%;
}